.container {
    width: 1004px;
    margin: 0 auto;
    font-family: sans-serif;
}

.a4 {
    /*border: 1px solid #F00;*/
}

.a4-vertical {
    width: 1000px;
    height: 670px;
}

.header {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.header td {
    border: 1px solid #000;
}

.header h1,
.header h3,
.header h4 {
    margin: 0;
}

.header h1 {
    font-size: 12px;
}

.header h3,
.header h4 {
    font-size: 12px;
}

.table {
    width: 100%;
    border: 1px solid #000;
    text-align: center;
    border-collapse: collapse;
    margin-top: 5px;
}

.table th {
    font-size: 12px;
    border: 1px solid #000;
    background-color: #fff;
}

.table td {
    background-color: #fff;
    border: 1px solid #000;
    font-size: 11px;
}

.table .objetivo {
    height: 50px;
    font-size: 8px;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.alert-info {
    padding: 10px;
    background-color: #6BB9F0
}

.hide-print {
    display: none
}