ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:80
ConnectionStrings__DefaultConnection=server=SEU_HOST_MYSQL;port=3306;database=SEU_BANCO;user=SEU_USUARIO;password=SUA_SENHA
Jwt__Secret=SUA_CHAVE_JWT_COM_PELO_MENOS_32_CARACTERES
Jwt__Issuer=SEU_ISSUER
Jwt__Audience=SEU_AUDIENCE
Jwt__ExpiresMinutes=480
